body {
    font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;
    background: #374954;
    color: white;
    text-align: center;
    margin: 0px auto;
    cursor: default;
}
#main{
    text-align: center;
    padding: 0px;
}
.todo-title{
    margin: 0px auto;
    padding: 0.5em 0em;
}
.header{
    height: 2.5em;
}
.nav-header{
    position: fixed;
    height: inherit;
    background: #6BBE92;
    width: 100%
}
.nav-header ul{
    height: inherit;
    text-align: left;
}
.nav-header li {
    display: inline-block;
    cursor: pointer;
    z-index: 5;
    min-width: 100px;
    margin: 0px auto;
    padding: 12px 0px;
    text-align: center;
}
.nav-header li:hover{
    background: #1AA260;
}

li {
    margin: 0;
}
ul {
    margin: 0px auto;
    padding: 0px;
}
.foot{
    bottom: 0px;
    right: 0px;
    margin: 0px auto;
}
button, button:visited {
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    padding: 1px 25px;
    border:0px;
    border-radius: 10px;
    text-align: center;
    background: #1AA260;
    color: white;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
