* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    cursor: default;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    width: 100%;
}
body {
    line-height: 1.6;
    font-family: -apple-system-font, "Helvetica Neue", sans-serif;
    height: 100%;
    width: inherit;
}
.nav {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.placeholder {
    width: 100%;
    height: 50px;
}
.box-hidden {
    display: none;
}
ul {
    display: block;
    padding-left: 0px;
    text-align: center;
    font-size: 0px;
    width: 100%;
    border-bottom: 1px solid #CACAC8;
}
.nav-li {
    display:inline-block;
    background-color: #FEFEFE;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #808080;
    width: 33.333%;
}
.li-line-active {
    color: #07BB04;
    border-bottom: 4px solid #07BB04;
}
.hidden {
    display: none;
}
.main-box1 {
    width: 100%;
}
.main-box2 {
    width: 100%;
}
.main-box3 {

}
.active {
    display: block;
}
.img-del {
    position: absolute;
    right: 15px;
    top: 16px;
    display: none;
}
#id-input-qqnumber {
    height: 45px;
    border: none;
    outline: none;
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
}
.div-input-qqnumber {
    position: relative;
    margin-top: 15px;
    border-top: 1px solid #DEDEDF;
    border-bottom: 1px solid #DEDEDF;
    background-color: #FFFFFF;
    padding-left: 5px;
}
.div-input-qqnumber:visited {
    border-top: 1px solid #0BBD0B;
    border-bottom: 1px solid #0BBD0B;
}
#main {
    height: 100%;
    width: 100%;
    background-color: #EDEEF2;
}
#id-qqname {
    font-size: 13px;
    color: #666667;
    position: absolute;
    right: 45px;
    top: 14px;
}
.div-button-chose{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.div-buttons {
    text-align: left;
}
.button-money {
    display: inline-block;
    background-color: #FFFFFF;
    color: black;
    padding: 0 1.32em;
    font-size: 13px;
    border-radius:5px;
    border: 1px solid #DEDEDF;
    line-height: 2.7;
    padding: 0px;
    min-width: 50px;
    width: 22%;
    text-align: center;
    outline-style: none;
}
.button-money-color {
    background-color: #0BBD0B;
    color: white;
    border: 0px;
}
.input-money {
    width: 24%;
}
.input-border {
    border: 1px solid #1AAD19;
}
.button-ten {
}
.div-discounted {
    text-align: left;
    line-height: 65px;
}
.div-discounted span {
    display: inline-block;
    line-height: 40px;
    vertical-align: baseline;
}
.span-discounted {
    color: #FE7C4B;
    font-size: 23px;
}
.span-y {
    font-size: 17px;
    font-weight: bold;
}
.span-x {
    font-size: 10px;
    margin-left: 18px;
}
#button-recharge {
    display: block;
    width: 100%;
    color: white;
    background-color: #1AAD19;
    border: 1px solid #DEDEDF;
    border-radius:5px;
    font-size: 18px;
    line-height:2.555;
    outline-style: none;

}
.p-balance {
    display: inline-block;
    font-size: 10px;
    line-height: 30px;
    color: #808080;
    margin-left: 10px;
    margin-right: 10px;
}
.div-remark {
    margin: 15px 10px 0px 10px;
    font-size: 10px;
    color: #808080;
}
.div-fixedbox{
    position: fixed;
    top:50px;
    width: 100%;
    z-index: 6;
}
.div-search-box {
    background-color: #FFFFFF;
    position: relative;
    height: 50px;
    top: 1px;
    border-bottom: 1px solid #CACAC8;
}
.img-classify {
    position: absolute;
    top: 75px;
    left: 10px;
    z-index: 10;
    width: 110px;
    height: 127px;
    display: none;
}
.div-classify {
    display: inline-block;
    background-color: #EEEFF3;
    width: 17%;
    position: relative;
    border: 1px solid #EEEFF3;
    border-radius: 5px;
    margin-left: 10px;
    top: 6px;
    line-height: 27px;
}
.div-classify span {
    font-size: 10px;
    position: relative;
    top: -2px;
    left: 2px;
}
.div-classify img {
    position: relative;
    left: 5px;
}
.div-search {
    display: inline-block;
    background-color: #EEEFF3;
    width: 74%;
    position: relative;
    border: 1px solid #EEEFF3;
    border-radius: 5px;
    margin-right: 10px;
    height: 30px;
    top: 9px;
}

.input-search {
    border: none;
    outline: none;
    width: 100%;
    height: 30px;
    background-color: #EEEFF3;
    position: relative;
    text-align: center;
    padding: 0px;
    top: -6px;
    border: 1px solid #EEEFF3;
    border-radius: 5px;
}
.input-search-left {
    text-align: left;
}
.span-cancle {
    color: #3879D9;
    font-size: 10px;
    position: absolute;
    top: 15px;
    right: 7px;
    display: none;
}
.div-hotgame  {
    margin-top: 50px;
}
.div-hotgame p {
    font-size: 11px;
    font-weight: bold;
    margin-left: 10px;
    color: #7F7F7F;
}
.div-hotgame ul {
    text-align: left;
    background-color: #FFFFFF;
}
.div-hotgame li {
    text-decoration: none;
    border-bottom: 1px solid #CACAC8;
    font-size: 11px;
    font-weight: bold;
    display: block;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.div-hotgame img {
    border: 1px solid #CACAC8;
    line-height: 20px;
    position: absolute;
    top: 7px;
    height: 45px;
    width: 45px;
    overflow: hidden;
}
.div-hotgame span {
    font-weight: bold;
    position: absolute;
    top: 18px;
    left: 60px;
}
.div-retrieve {
    background-color: #FFFFFF;
}
.div-retrieve p {
    margin: 0px 10px 0px 10px;
    border-bottom: 1px solid #CACAC8;
    font-size: 12px;
    font-weight: bold;
    line-height: 35px;
}

.div-searves {
    margin-top: 15px;
    background-color: white;
    border-top: 1px solid #CACAC8;
}

.div-searves div {
    position: relative;
    margin: 0px 10px 0px 10px;
    border-bottom: 1px solid #CACAC8;
    height: 80px;
}
.div-searves img {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: absolute;
    top:8px;
    left: 0px;
}
.div-searves p {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top:15px;
    left: 70px;

}
.div-searves h4 {
    font-size: 25px;
    display: inline-block;
    color: #CACAC8;
    position: absolute;
    top:15px;
    right: 0px;
}
.span-illustrate {
    display: inline-block;
    font-size: 11px;
    color: #7F7F7F;
    position: absolute;
    top:40px;
    left: 70px;
}
.span-month {
    display: inline-block;
    font-size: 11px;
    color: #7F7F7F;
    position: absolute;
    top:28px;
    right: 28px;
}

.div-warning-qq, .div-warning-money {
    background-color: black;
    font-size: 12px;
    text-align: center;
    color: white;
    width: 50%;
    border-radius: 5px;
    line-height: 35px;
    opacity: 0.85;
    z-index:20;
    display: none;
}
.div-warning {
    z-index: 30;
}
